body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Stil für die Navigationsleiste */
.navbar {
    background: white;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Flexbox-Einstellungen für die Navigation */
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Entfernt Aufzählungszeichen und richtet Listenitems horizontal aus */
li {
    list-style: none;
    display: inline-block;
}

/* Stil für die Navigationslinks */
li a {
    color: rgb(71, 71, 71);
    font-size: 14px;
    margin-right: 25px;
    text-decoration: none;
}

/* Stil für Mouseover der Navigationslinks */
li a:hover {
    border-bottom: 1px solid;
}

/* Footer Styling */
.footer {
    background-color: #F4F1EE;
    padding: 20px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgb(71, 71, 71);
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content span {
    font-size: 0.8em;
}

.footer-content img {
    height: 33px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: 0.8em;
}

.footer-links a:hover {
    text-decoration: underline;
}




/* Stil für den zentralen Inhalt */
.content-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding: 20px;
    font-family: "Montserrat", sans-serif; /* Schriftart */
    color: rgb(71, 71, 71); /* Schriftfarbe */
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 150px;
	padding-bottom: 100px;
}

.content-center h1,
.content-center p,
.content-center h2 {
    margin: 10px 0;
}

/* Stil für Links im zentralen Inhalt */
.content-center a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

/* Stil für Mouseover von Links im zentralen Inhalt */
.content-center a:hover {
    border-bottom: 1px solid;
}

.content-center p {
font-size: 12px;
}

.content-center h2 {
font-size: 22px;
}
