body{
    margin: 0;
    padding: 0;
}
/* Stil für die Navigationsleiste */
.navbar {
    background: white;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}
/* Flexbox-Einstellungen für die Navigation */
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Stil für das Logo */
.logo a {
    font-size: 12px;
    font-weight: 600;
    color: black;
    font-weight: bolder;
}
/* Entfernt Aufzählungszeichen und richtet Listenitems horizontal aus */
li {
    list-style: none;
    display: inline-block;
}
/* Stil für die Navigationslinks */
li a {
    color: rgb(71, 71, 71);
    font-size: 10px;
    margin-right: 25px;
    text-decoration: none;
}
/* Container für den Hauptinhalt, zentriert mit Flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* 100% der Höhe des sichtbaren Bereichs */
    padding: 65px;
    box-sizing: border-box;
}
/* Stil für die Einleitung */
#einleitung {
    font-family: calibri;
    color: rgb(71, 71, 71);
    max-width: 80%;
    text-align: center;
}
/* Stil für den Pfeil nach unten */
.arrow {
    position: absolute;
    margin-top: 210px; /* Abstand zum Paragraphen */
    color: rgb(71, 71, 71);
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}
.arrow span{
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -.2s;
}
.arrow span:nth-child(3){
    animation-delay: -.4s;
}

@keyframes scroll{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
/* Hintergrundfarbe für die erste Seite */
.first-section {
    background-color: white;
}
/* Hintergrundfarbe für die zweite Seite */
.second-section {
    background-color: #b0cdd3; /* Blass hellblau */
    width: 100%; /* Volle Breite des Bildschirms */
    height: 100vh; /* 100% der Höhe des sichtbaren Bereichs */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
    box-sizing: border-box; /* Berücksichtigt Padding in den Gesamtabmessungen */
    color: rgb(71, 71, 71);
    font-family: Calibri;
    position: relative; /* Damit der FOKUS-Text absolut positioniert werden kann */
}
/* Stil für den "FOKUS"-Text in der zweiten Seite */
.second-section #focus-text {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 24px;
    font-weight: bold;
    z-index: 1; /* Um sicherzustellen, dass der Text über anderen Inhalten bleibt */
}
/* Stil für die Paragraphen auf der zweiten Seite */
.section-two .p_Elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150%;
    position: relative;
}
.paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 20px; /* Abstand zwischen den Paragraphen */
}
.section-two .paragraph {
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: calibri;
    max-width: 200px;
    margin-bottom: 20px; /*Abstand zum Kreis*/
}
/* Stil für die Kreise unter den Paragraphen */
.circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -70px; /* Fester Wert für die Positionierung der Kreise unterhalb der Paragraphen */
    left: 50%; /* Horizontale Zentrierung */
    transform: translateX(-50%); /* Zentrierung relativ zum Elternelement */
    z-index: 1; /* Stellen Sie sicher, dass die Kreise über dem Hintergrund liegen */
}
#circle1 {
    bottom: -23px;
}
#circle2 {
    bottom: -28px;
}
#circle3{
    bottom: -28px;
}
/* Zusaetzliche Stildefinitionen */
.second-section .p_Elements {
    margin-top: 50px; /* Platzierung des Containers unter dem FOKUS-Text */
}
.paragraph_circle {
    color: white;
    font-size: 10px;
    font-weight: bold;
    font-family: calibri;
    margin-top: 20px; /* Abstand zwischen den Paragraphen und den Kreisen */
    position: relative; /* Position relativ zum Elternelement */
}
#paragraph_circle1{
    bottom: -55px;
}
#paragraph_circle2{
    bottom: -58px;
}
#paragraph_circle3{
    bottom: -58px;
}

/* Pfeile zwischen den Kreisen */
.paragraph-container::after {
    content: '';
    position: absolute;
    top: calc(50% - 5px); /* Vertikale Ausrichtung in der Mitte des Containers */
    left: calc(100% + 10px); /* Position rechts vom Container */
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white; /* Pfeil nach rechts */
}

/* Ausblenden des Pfeils für das letzte .paragraph-container */
.paragraph-container:last-child::after {
    display: none;
}

/* Stil für die dritte Sektion */
.third-section {
    position: relative; /* Damit das farbteilende Element relativ dazu positioniert werden kann */
    background-color: white; /* Hintergrundfarbe für die obere Hälfte */
    height: 100vh; /* Höhe der Sektion */
    overflow: hidden; /* Verhindert das Überlaufen der Farbteilung */
}

/* Farbteilendes Element */
.color-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Hintergrundfarbe für die obere Hälfte */
    clip-path: polygon(50% 30%, 100% 20%, 100% 100%, 0 100%, 0 17%); /* Angepasste clip-path */
    overflow: hidden;
}

/* Bereich innerhalb des Clip-Pfades */
.color-divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(163, 194, 141); /* Farbe für den inneren Bereich */
    clip-path: polygon(50% 35%, 100% 20%, 100% 100%, 0 100%, 0 20%);
    z-index: -1;
}
.centered-link {
    position: relative; /* Ändern Sie die Position auf relativ */
    display: block; /* Setzen Sie den Link auf Block */
    margin: 0 auto; /* Zentrieren Sie horizontal */
    text-align: center; /* Zentrieren Sie den Text */
    color: rgb(163, 194, 141); /* Farbe des Links */
    font-size: 12px; /* Größe des Links */
    font-family: calibri;
    margin-top: 50px; /* Passen Sie den oberen Abstand nach Bedarf an */
}
/* Stil für den horizontalen Textcontainer */
.horizontal-text-container {
    position: absolute;
    top: 10px; /* Passt die Position der horizontalen Texte an */
    right: 0; /* Passt die Position der horizontalen Texte an */
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    z-index: 1; /* Um sicherzustellen, dass der Text über anderen Inhalten bleibt */
}

/* Stil für die vertikalen Texte */
.vertical-text {
    color: rgb(163, 194, 141);
    font-size: 24px;
    font-family: calibri;
    font-weight: bold;
    margin: 0 0.5px; /* Abstand zwischen den einzelnen Textteilen */
    writing-mode: vertical-rl;
    transform: rotate(0deg); /* Entfernt die Drehung */
    transform-origin: top left; /* Setzt den Drehpunkt auf die obere linke Ecke */
}


/* Bild im Hintergrund */
.color-divider img {
    position: absolute;
    top: 40%;
    left: 17%;
    width: 20%; /* 100% der Breite des Elternelements */
    height: 50%; /* Volle Höhe des Elternelements */
    object-fit: cover; /* Skaliert das Bild, um das Elternelement zu füllen */
    z-index: 1; /* Stellt sicher, dass das Bild im Hintergrund liegt */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Schatten rechts und unten */
}

/* Stil für den Paragraphen */
.color-divider p {
    position: absolute;
    top: 50%; /* Zentriert den Paragraphen vertikal */
    left: 45%; /* 5% Abstand zwischen Bild und Paragraph */
    transform: translateY(-50%); /* Zentriert den Paragraphen vertikal */
    color: white;
    font-size: 14px;
    font-family: calibri;
    max-width: 40%; /* Begrenzt die Breite des Paragraphen */
    z-index: 1; /* Stellt sicher, dass der Paragraph über dem Bild liegt */
}
/* Vierte Seite */
.fourth-section {
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    align-items: center;
    position: relative;
    background-color: rgb(233, 233, 233);
    height: 100vh;
    overflow: hidden;
}


/* Farbteilendes Element */
.color-divider2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Hintergrundfarbe für die obere Hälfte */
    clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0 55%); /* Angepasste clip-path */
    overflow: hidden;
}

/* Bereich innerhalb des Clip-Pfades */
.color-divider2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Hintergrundfarbe für die obere Hälfte */
    clip-path: polygon(0 100%, 100% 100%, 100% 90%, 0 55%); /* Angepasste clip-path */
    z-index: 1;
}
/* CSS für die Links in der vierten Sektion */
.fourth-section a {
    font-family: calibri;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 30px; /* Abstand zwischen den Links */
  }
  
  /* CSS für die Paragraphen in der vierten Sektion */
.fourth-section p {
    font-family: calibri;
    margin-bottom: 7px; /* Abstand zwischen den Paragraphen */
  }

#heading{
    position: absolute;
    font-size: 35px;
    font-family: calibri;
    font-weight: bolder;
    color: white;
    top: 235px; /* Passt die Position der horizontalen Texte an */
    right: 150px; /* Passt die Position der horizontalen Texte an */
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    z-index: 1; /* Um sicherzustellen, dass der Text über anderen Inhalten bleibt */
    transform: rotate(11deg);
}
/* Fünfte Seite */
.fifth-section {
    display: flex;
    position: relative;
    background-color: rgb(223, 152, 152);
    height: 100vh;
    overflow: hidden;
}


/* Farbteilendes Element */
.color-divider3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Hintergrundfarbe für die obere Hälfte */
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 55%); /* Angepasste clip-path */
    overflow: hidden;
    z-index: 1;
}

/* Bereich innerhalb des Clip-Pfades */
.color-divider3::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Hintergrundfarbe für die obere Hälfte */
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 55%);
    z-index: 1;
}

.catchphrase_container {
    display: flex;
    justify-content: flex-start; /* Positioniert den Inhalt oben */
    align-items: center; /* Zentriert den Inhalt horizontal */
    flex-direction: column;
    height: 100vh; /* 100% der Höhe des sichtbaren Bereichs */
    padding: 65px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}
#catchphrase {
    font-family: calibri;
    font-size: 15px;
    position: absolute;
    top: 20px; /* Setzen Sie den Abstand nach oben, um den Umbruch zu erreichen */
    left: 200%; /* Hier ändern Sie den linken Abstand, um den Text nach rechts zu verschieben */
    transform: translateX(-50%);
    text-align: center;
    color: black;
    z-index: 3; /* Stellen Sie sicher, dass die Catchphrase über anderen Elementen liegt */
    white-space: nowrap; /* Verhindert, dass der Text automatisch umbrochen wird */
    word-wrap: break-word; /* Lässt den Text umgebrochen werden, wenn er nicht in das Container passt */
}

/* Stil für den "FOKUS"-Text in der zweiten Seite */
.fifth-section #empathie-text {
    color: black;
    position: absolute;
    top: 50px;
    left: -6px;
    font-family: calibri;
    color: rgb(223, 152, 152);
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 30px;
    font-weight: bold;
    z-index: 3; /* Um sicherzustellen, dass der Text über anderen Inhalten bleibt */
}









