@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Fonts */

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Stil für die Navigationsleiste */
.navbar {
    background: white;
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Flexbox-Einstellungen für die Navigation */
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Entfernt Aufzählungszeichen und richtet Listenitems horizontal aus */
li {
    list-style: none;
    display: inline-block;
}

/* Stil für die Navigationslinks */
li a {
    color: rgb(71, 71, 71);
    font-size: 14px;
    margin-right: 65px;
    text-decoration: none;
}

/* Stil für Mouseover der Navigationslinks */
li a:hover {
    border-bottom: 1px solid;
}

/* Responsive Anpassungen für die Navigationsleiste */
@media (max-width: 768px) {
    .navdiv {
        flex-direction: column;
        align-items: center;
		gap: 2em;
    }

    li {
        display: block;
        margin-bottom: 10px;
    }

    li a {
        font-size: 15px;
        margin-right: 0;
    }


}

/* Container für den Hauptinhalt, zentriert mit Flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* Minimum 100% der Höhe des sichtbaren Bereichs */
    padding: 5px 65px 65px 65px;
    box-sizing: border-box;
	gap: 70px;
}



/* Stil für die Einleitung */
#einleitung {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 4vw;
    font-size: 2.7vmax;
    font-weight: 400;
    font-style: normal;
    color: rgb(71, 71, 71);
    max-width: 80%;
    text-align: center;
}

/* Stil für den Pfeil nach unten */
.arrow {
    position: absolute;
    margin-top: 500px;
    /* Abstand zum Paragraphen */
    color: #F4F1EE;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 5px;
    height: 5px;
    border-bottom: 5px solid gray;
    border-right: 5px solid gray;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Flexbox-Stil für die Bildgalerie */
.image-gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* Abstand zwischen den Bildern */
    margin-top: 20px;
}

/* Stil für die einzelnen Bild-Items */
.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-item img {
    max-width: 100px;
    /* Feste Breite für die Bilder */
    height: auto;
    margin-bottom: 10px;
}

.image-item p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    color: rgb(71, 71, 71);
    text-align: center;
}

    .image-item a {
    text-decoration: none;
    }

/* Responsive Anpassungen für die Bildgalerie */
@media (max-width: 768px) {
    .image-gallery {
        flex-direction: column;
    }

    .image-item img {
        max-width: 120px;
    }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 120vh;
    /* Minimum 100% der Höhe des sichtbaren Bereichs */
    padding: 5px 65px 65px 65px;
    box-sizing: border-box;
	gap: 25px;
}


}

/* Hintergrundfarbe für die erste Seite */
.first-section {
    background-color: white;
	margin-top: -50px;
}

/* Stil für die Übergangsbild */
.transition-image {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: -100px;
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
}

.transition-image img {
    width: 270px;
    bottom: -135px;
    /* Größe des Bildes anpassen */
    height: auto;
    position: absolute;
    left: 10%;
    /* Positionierung nach links */
    transform: translateX(-10%);
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
    z-index: 2;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .transition-image img {
        width: 150px;
        /* Kleinere Größe für mobile Geräte */
        left: 5%;
        transform: translateX(-5%);
        bottom: -60px;
    }
}

@media (max-width: 480px) {
    .transition-image img {
        width: 80px;
        /* Noch kleinere Größe für sehr kleine Geräte */
        left: 5%;
        transform: translateX(-5%);
        bottom: -20px;
    }
}

/* Hintergrundfarbe für die zweite Seite */
.second-section {
    background-color: #accbd4;
    /* Blass hellblau */
    width: 100%;
    /* Volle Breite des Bildschirms */
    min-height: 100vh;
    /* Minimum 100% der Höhe des sichtbaren Bereichs */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px;
    box-sizing: border-box;
    /* Berücksichtigt Padding in den Gesamtabmessungen */
    color: rgb(71, 71, 71);
    font-family: "Montserrat", sans-serif;
    position: relative;
    /* Damit der FOKUS-Text absolut positioniert werden kann */
}

/* Stil für den "HINTERGRUND"-Text in der zweiten Seite */
.second-section #hintergrund-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 55px;
    font-weight: 660;
	margin-top: 15px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    z-index: 1;
    /* Um sicherzustellen, dass der Text über anderen Inhalten bleibt */
}

/* Stil für die Abschnittsbeschreibung */
.section-description {
    max-width: 800px;
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 40px;
}

/* Stil für den Inhalt der zweiten Sektion */
.content-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    position: relative;
    z-index: 2;
    /* Um sicherzustellen, dass der Inhalt über dem FOKUS-Text bleibt */
}

/* Stil für die umklappbaren Boxen */
.toggle-box {
    background: rgba(255, 255, 255, .8);
    box-shadow: 9px 9px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: calc(33.333% - 20px);
    /* Drei Boxen pro Reihe */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 200px;
    /* Einheitliche Höhe für alle Boxen */
}

/* Responsive Anpassungen für die umklappbaren Boxen */
@media (max-width: 992px) {
    .toggle-box {
        width: calc(50% - 20px);
        /* Zwei Boxen pro Reihe bei kleineren Bildschirmen */
    }
}

@media (max-width: 768px) {
    .toggle-box {
        width: 100%;
        /* Eine Box pro Reihe bei noch kleineren Bildschirmen */
    }
}

/* Stil für die umklappbaren Box-Buttons */
.toggle-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 680;
    text-align: left;
    width: 100%;
    cursor: pointer;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* Hinzugefügt, um den Pfeil nach rechts zu schieben */
    align-items: center;
    /* Zentriert den Text und den Pfeil vertikal */
}

/* Stil für die Pfeile */
.arrow-down {
    background: #accbd4;
	border: none;
    border-radius: 150px;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
	margin-top: 20px;
    margin-left: 80%;
    /* Abstand zum Toggle-Button */
}

/* Stil für die umklappbaren Inhalte */
.toggle-content {
    display: none;
    margin-top: 10px;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    color: #555;
}

/* Stil für das weiße Textfeld zwischen Sektion 2 und Sektion 3 */
.between-section-2-3,
.between-section-3-4 {
    background-color: white;
    /* Weißer Hintergrund */
    padding: 20px 0;
    /* Angepasstes Innenabstand */
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    font-family: "Montserrat", sans-serif;
    text-align: center;
    max-height: 50vh;
    /* Maximal 50% der Bildschirmhöhe */
    display: flex;
    justify-content: center;
    align-items: center;
}

.between-container {
    max-width: 800px;
    margin: 0 auto;
    /* Zentriert den Container */
}

.between-container p {
    font-size: 1.4em;
    line-height: 1.5;
    margin: 0;
}

/* Stil für die Übergangsbild */
.transition-image-2 {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: -100px;
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
}

.transition-image-2 img {
    width: 270px;
    bottom: -135px;
    /* Größe des Bildes anpassen */
    height: auto;
    position: absolute;
    right: 10%;
    /* Positionierung nach links */
    transform: translateX(-10%);
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
    z-index: 2;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .transition-image-2 img {
        width: 150px;
        /* Kleinere Größe für mobile Geräte */
        right: 5%;
        transform: translateX(-5%);
        bottom: -60px;
    }
}

@media (max-width: 480px) {
    .transition-image-2 img {
        width: 80px;
        /* Noch kleinere Größe für sehr kleine Geräte */
        right: 5%;
        transform: translateX(-5%);
        bottom: -20px;
    }
}

/* Stil für die dritte Sektion */
.third-section {
    background-color: #dd9e9c;
    /* Farbe passend zur dritten Sektion */
    width: 100%;
    min-height: 100vh;
    /* Minimum 100% der Höhe des sichtbaren Bereichs */
    padding: 65px;
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.third-section .section-three {
    display: flex;
    flex-direction: column;
    align-items: center;
	gap: 15px;
}

.third-section #aufgaben-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 55px;
    font-weight: 660;
	margin-top: 15px;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
}

.third-section .task-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, .8);
    box-shadow: 9px 9px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    position: relative;
}

.third-section .task-number {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #dd9e9c;
    position: absolute;
    top: -30px;
    left: -30px;
}

.third-section .task-number-right {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #dd9e9c;
    position: absolute;
    top: -30px;
    right: -30px;
}

.third-section .task-content {
    flex: 1;
    padding-left: 80px;
    padding-right: 80px;
}

.third-section .task-content p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: rgb(71, 71, 71);
}

/* Responsive Anpassungen für die dritte Sektion */
@media (max-width: 992px) {
    .third-section .task-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .third-section .task-number,
    .third-section .task-number-right {
        margin: 0 0 10px;
    }

    .third-section .task-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Stil für die Übergangsbild */
.transition-image-3 {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: -100px;
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
}

.transition-image-3 img {
    width: 270px;
    bottom: -135px;
    /* Größe des Bildes anpassen */
    height: auto;
    position: absolute;
    right: 10%;
    /* Positionierung nach links */
    transform: translateX(-10%);
    /* Anpassung des Wertes, um das Bild in den Übergang zu setzen */
    z-index: 2;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
    .transition-image-3 img {
        width: 150px;
        /* Kleinere Größe für mobile Geräte */
        right: 5%;
        transform: translateX(-5%);
        bottom: -80px;
    }
}

@media (max-width: 480px) {
    .transition-image-3 img {
        width: 80px;
        /* Noch kleinere Größe für sehr kleine Geräte */
        right: 5%;
        transform: translateX(-5%);
        bottom: -20px;
    }
}

/* Stil für die vierte Sektion */
.fourth-section {
    background-color: #b4c696;
    /* Farbe passend zur vierten Sektion */
    width: 100%;
    min-height: 100vh;
    /* Minimum 100% der Höhe des sichtbaren Bereichs */
    padding: 65px;
    box-sizing: border-box;
    color: rgb(71, 71, 71);
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.fourth-section .section-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth-section #nutzliches-text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 55px;
    font-weight: 660;
	margin-top: 15px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
}

.fourth-section .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.fourth-section .info-box {
    background: rgba(255, 255, 255, .8);
    box-shadow: 9px 9px 2px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.fourth-section .info-box p {
    margin: 0 0 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: rgb(71, 71, 71);
	text-align: left;
}

.fourth-section .info-box a {
    color: rgb(71, 71, 71);
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.fourth-section .info-box a:hover {
    text-decoration: underline;
}

/* Footer Styling */
.footer {
    background-color: #F4F1EE;
    padding: 20px 0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: rgb(71, 71, 71);
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content span {
    font-size: 0.8em;
}

.footer-content img {
    height: 33px;
}

.footer-links {
    display: flex;
    gap: 15px;
}

.footer-links a {
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-size: 0.8em;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Additional Media Queries for Smaller Screens */
@media (max-width: 480px) {
    .navbar {
        padding: 20px;
    }

    .container {
        padding: 25px 20px 20px 20px;
		gap: 10px;
    }

    .arrow {
        margin-top: 300px;
    }

    #einleitung {
        font-size: 6vw;
    }



    .section-description,
    .between-container p,
    .third-section .task-content p,
    .fourth-section .info-box p {
        font-size: 1em;
    }

    .image-gallery {
        flex-direction: column;
        gap: 20px;
    }

    .image-item img {
        max-width: 80px;
    }

    .section-overlap-img,
    .section-overlap-img-up,
    .section-overlap-img-down {
        width: 150px;
    }

    .second-section,
    .third-section,
    .fourth-section {
        padding: 20px;
    }

    .toggle-box {
        width: 100%;
    }

    .third-section .task-box,
    .fourth-section .content-box {
        padding: 10px;
    }



}


